@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p><a href="https://www.linkedin.com/in/jhonathan-lemos/" target="_blank"><i class="bi bi-linkedin"></i></a></p>
</div>
